nav {
    background-color: #20b2aa;
    height: 75px;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    font-size: 35px; 
    padding: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.logoImg {
    height: 80px;
    width: 100px;
}

.homeImg 
{
    height: 40px;
    width: 40px;
}

nav ul li:nth-last-child(2) {
    margin-left: auto;
}

.mydiv {
  position: fixed;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

.mydivheader {
  padding: 0px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}