body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.pet-post {
    position: relative;
    border: 2px solid black;;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.pet-post img {
    max-width: 100%;
    height: auto;
}

.center-div {
    width: 500px;
    margin: 0 auto;
}

.align-center {
text-align: center;
}

.edit-btn {
position: absolute;
bottom: 10;
right: 10;
}